@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rl97zq');
  src:  url('fonts/icomoon.eot?rl97zq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rl97zq') format('truetype'),
    url('fonts/icomoon.woff?rl97zq') format('woff'),
    url('fonts/icomoon.svg?rl97zq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-cart2 .path1:before {
  content: "\e903";
  color: rgb(253, 168, 39);
}
.icon-cart2 .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-compare:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-favorites:before {
  content: "\e908";
}
.icon-grid:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-list:before {
  content: "\e90b";
}
.icon-mail .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.icon-mail .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mail .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mail .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mail .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(253, 168, 39);
}
.icon-menu:before {
  content: "\e911";
}
.icon-navigate_down:before {
  content: "\e912";
}
.icon-newspaper .path1:before {
  content: "\e913";
  color: rgb(0, 0, 0);
}
.icon-newspaper .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-newspaper .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-newspaper .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-newspaper .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-newspaper .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(253, 168, 39);
}
.icon-newspaper .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(253, 168, 39);
}
.icon-notify:before {
  content: "\e91a";
}
.icon-payment-method:before {
  content: "\e91b";
}
.icon-phone .path1:before {
  content: "\e91c";
  color: rgb(253, 168, 39);
}
.icon-phone .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-phone .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-phone .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-phone .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-present:before {
  content: "\e921";
}
.icon-service:before {
  content: "\e922";
}
.icon-star:before {
  content: "\e923";
}
.icon-twitter:before {
  content: "\e924";
}
.icon-vk:before {
  content: "\e925";
}
.icon-youtube:before {
  content: "\e926";
}
